<%
  progress_copy =
    if yesterday_reading_minutes.positive?
      "You read #{yesterday_reading_minutes} min yesterday."
    elsif progress_snapshot[:reading].positive?
      "No reading time yesterday. Your next session can start here."
    else
      "Your reading time will show up here."
    end
%>

<section class="sessions-home__progress">
  <p class="sessions-home__progress-copy mb-0"><%= progress_copy %></p>
</section>
