<nav class="navbar">
  <ul class="navbar-icons">
    <li><%= link_to root_path do %>🏠<% end %></li>
    <li><%= link_to '/library' do %>📚<% end %></li>
    <li><%= link_to '/notifications' do %>🔔<% end %></li>
    <li><%= link_to '/profile' do %>👤<% end %></li>
  </ul>
</nav>
