<section class="sessions-home">
  <%= render "pages/home/hero", current_session_participant: @current_session_participant %>
  <%= render "pages/home/active_rooms", active_sessions: @active_sessions, current_session_participant: @current_session_participant %>
  <%= turbo_frame_tag "home_deferred", src: home_deferred_path, loading: :lazy %>
</section>
