<section class="landing-page">
  <%= render "pages/landing/hero" %>
  <%= render "pages/landing/how_it_works" %>
  <%= render "pages/landing/session_examples" %>
  <%= render "pages/landing/footer" %>
</section>
