<section class="landing-page">
  <%= render "pages/landing/hero" %>
  <%= render "pages/landing/how_it_works" %>
  <%= render "pages/landing/experience" %>
  <%= render "pages/landing/final_cta" %>
</section>
