.navbar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navbar-nav li {
  font-size: 24px;
}

.nav-link {
  position: relative;
}

.navbar-brand,
.nav-link {
  color: #ffffff !important;
}

.nav-link.active {
  color: #ffffff !important;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 3px 3px 0 0;
}
